*{
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #eff5fe;
  --border-color: #0288d147;
}





.container {
  background: #0288d147;
  height: 100vh;
  overflow: hidden;

}



.wrapper{
background-color: #fff ;
width: 600px;
height: 400px;
margin:auto;
margin-top: 120px;
margin-left: 450px;
display: flex;
flex-direction: column;

background: #ffff;
border-radius: 25px;
 box-shadow: 0px 20px 20px #0000002e;
}

.drop-zone{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-zone{
  width: 500px;
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 50px;
  border-radius: 10px;
  transition: all .2s ease;
}


h1 {
font-size: 40px;
font-weight: 600;
color: #445A6F;
margin: 40px 0;
}

.button1 {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px;
}

.button2{
  width: 60px;
  height: 23px;
  border-radius: 5px;
  background-color: #ffff;
  border: 1px solid #445A6F;
}

.copy-box{
  display: flex;
  align-items: center;
  /* height: 25px;
  width: 470px; */
  margin:40px;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid rgb(3, 3, 3);
  background-color: #0288d147;
  overflow: hidden;
  
}

.link{
  color: #4a4747;
}